<h1><%= @topic.title %></h1>
    <p class="details"><%= @topic.posts.count %> Posts</p>
      <% if @topic.posts.length > 0 %>
        <p class="details">Last Post <%= time_ago_in_words(@topic.posts.last.created_at) %></p>
      <% end %>
    <p class="description"><%= @topic.description %></p>

    <% if @topic.user_id == current_user.id %>
    <%= link_to "Delete Topic", forum_topic_path(@topic.forum, @topic), method: :delete %>
  <% end %>


<%= render @topic.posts %>
<%= link_to "New Post", new_forum_topic_post_path(@topic.forum, @topic), class: "ctr waves-effect waves-light btn" %>

