<div class="form">
  <%= form_for @user do |f|  %>
    <p>
      <%= f.label "Username" %>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label "Email" %>
      <%= f.email_field :email %>
    </p>
    <p>
      <%= f.label "Password" %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.submit "Register" %>
    </p>
  <% end %>
</div>



