<div class="form center card">
<h2>Register</h2>
  <%= form_for(@user, multipart: true) do |f|  %>
    <div class="row">
      <div class="input-field">
        <%= f.text_field :username %>
        <%= f.label "Username" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <%= f.label "Email" %>
        <%= f.email_field :email %>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <%= f.label "Password" %>
        <%= f.password_field :password %>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <%= f.label "Confirm Password" %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
    <div class="row">
      <div class="file-field input-field">
        <%= f.label "Upload an Avatar" %><br>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <%= f.file_field :avatar %>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <%= f.submit "Register", class: "ctr waves-effect waves-light btn" %>
      </div>
    </div>
  <% end %>
</div>
