<h2>Advanced Search</h2>

<%= form_tag(games_path, :method => "get", id: "search-form") do |t|%>
    <%= text_field_tag :title, params[:title], placeholder: "Title" %>
    <%= text_field_tag :description, params[:desciption], placeholder: "Description" %>
    <%= select_tag :category, options_for_select(["Role Playing", "Mystery", "Cards", "Campaign", "NFW"]), include_blank: "- Select Category -" %>
    <%= select_tag :mechanism, options_for_select(["Die Roll", "Card", "Real Life", "Online"]), include_blank: "- Select Mechanism -" %>
    <%= select_tag :number_of_players, options_for_select(["Number of Players", "1", "2", "4", "6", "8", "12"]), include_blank: "- Select # of Players-" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>