
<div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-image">
              <img src="<%= @game.image_url %>">
             <%= render partial: '/likes_favorites_buttons', locals: {game: @game, favoriting: @favoriting, ownership: @ownership} %>
            </div>
            <div class="card-content">
              <h2 class="card-title" id="game-title"><%= @game.title %></h2>
             <p class="game-details flow-text">For <%= @game.number_of_players %> Players, <%= @game.duration %> Minutes Play Time</p>
             <hr>
             <br>
              <p class="game-description flow-text"><%= @game.description %></p>
              <br>
              <hr>
              <p class="game-details flow-text">Released in <%= @game.release_date %>, designed by <%= @game.designer %></p>
            </div>
          </div>
        </div>
      </div>

  <% if @game.categories.any? || @game.mechanisms.any? %>
    <div class="card body">
      <ul class="categories-list">
        <%= render @game.categories %>
      </ul>

      <ul class="mechanisms-list">
        <%= render @game.mechanisms %>
      </ul>
    </div>
  <% end %>

  <% if @game.reviews.any? %>
    <div class="reviews card">
    <h4 class="card-title-custom"><%= @game.reviews.count %> Reviews</h5>
      <%= render @game.reviews %>
    </div>
  <% end %>
  
  <% if logged_in? %>
    <div class="reviews card">
      <h4 class="card-title-custom">Write a Review</h4>
      <%= render partial: 'reviews/form', locals: {game: @game} %>
    </div>
  <% end %>
</div>


