<div class="container">
  <h1><%= @game.title %></h1>
  <p class="game-details">For <%= @game.number_of_players %> Players, <%= @game.duration %></p>

  <%= image_tag(@game.image_url) %>


  <p class="game-description"><%= @game.description %></p>
  <p class="game-details">Released <%= @game.release_date %> by <%= @game.publisher %></p>

  <ul class="categories-list">
    <%= render @game.categories %>
  </ul>

  <ul class="mechanisms-list">
    <%= render @game.mechanisms %>
  </ul>

  <div class="reviews">
    <h2><%= @game.reviews.count %> Reviews</h2>
    <%= render @game.reviews %>
    <% if logged_in? %>
      <%= render partial: '/likes_favorites_buttons', locals: {game: @game, favoriting: @favoriting, ownership: @ownership} %>
      <h3>Write a Review</h3>
      <%= render partial: 'reviews/form', locals: {game: @game} %>
    <% end %>
  </div>
</div>

