<div class='button_container'>
  <%= form_for favoriting do |f| %>

    <%= f.hidden_field(:game,  value: game.id) %>
    <%= f.submit "Heart" %>
  <% end %>

  <%= form_for ownership do |f| %>
    <%= f.hidden_field(:game, value: game.id) %>
    <%= f.submit "Plus" %>
  <% end %>

</div>
