<div class='button_container'>
  <%= form_for favoriting do |f| %>

    <%= f.hidden_field(:game,  value: game.id) %>
    <%= f.button  '<i class="material-icons">favorite_border</i>'.html_safe, class: "btn-floating halfway-fab waves-effect waves-light red" %>
  <% end %>

  <%= form_for ownership do |f| %>
    <%= f.hidden_field(:game, value: game.id) %>
    <%= f.button '<i class="material-icons">add</i>'.html_safe, class: "btn-floating halfway-fab waves-effect waves-light blue left" %>
  <% end %>

</div>
