<nav>
  <div class="nav-wrapper">
    <ul class="left hide-on-med-and-down navbar-links">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to "Advanced Search", '/search', :class=> "button-big layer" %></li>
    </ul>
    <ul class="right hide-on-med-and-down navbar-links">
      <% if session[:user_id] != nil %>
        <li><%= link_to 'Log out', controller: 'sessions', action: 'destroy' %></li>
        <li><%= link_to "My Library", user_path(current_user) %></li>
        <li><%= link_to "Forums", forums_path %></li>
      <% else %>
       <li><%= link_to "Log in", '/login' %></li>
        <li><%= link_to "Register", new_user_path %></li>
      <% end %>

    </ul>
  </div>
</nav>
    <%= render partial: 'layouts/search' %>
