<!DOCTYPE html>
<html>
  <head>
    <title>GameKnight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <p> This is where our sick image goes! </p>
    </header>

    <%= render partial: 'layouts/navbar' %>

    <h1>Game Knight</h1>
      <%= render 'layouts/errors' %>

    <div id="main-content">
    <%= yield %>
    </div>
  </body>
</html>
