<!DOCTYPE html>
<html>
  <head>
    <title>GameKnight</title>
    <script src="https://use.fontawesome.com/fc6aeb68c1.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Philosopher" %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1 id="main-title"><%= link_to "Game Knight", root_path, id: "main-link" %></h1>
      <%= render partial: 'layouts/navbar' %>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg%>
        <% end %>
    </header>

    <main id="main-content">
    <%= yield %>
    </main>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
